body{
    text-decoration-color: black;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 20px;
    justify-content: center;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}
#blog-one{
    background-image: url("./images/usaflag.jpg");
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-position: right; 
}
#blog-two{
    background-image: url("./images/usaflag.jpg");
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-position: right; 
}
#blog-three{
    background-image: url("./images/usaflag.jpg");
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-position: right; 
}